# WhatsApp Bot Configuration

# Delay between messages (seconds)
MIN_DELAY=20
MAX_DELAY=40

# File paths
RESUME_PATH=./resume.pdf
MESSAGE_TEMPLATE=templates/message.txt
CONTACTS_FILE=data/contacts.csv
LOG_FILE=data/send_log.csv
SENDER_NAME=YOUT_NAME
USE_CONTACT_NAME=True